body{

margin:0;
font-family:Segoe UI;
background:#07132a;
color:white;

}


/* HERO */

.hero{

height:100vh;

display:flex;
flex-direction:column;

align-items:center;
justify-content:center;

text-align:center;

padding:0 20px;

animation:fadeUp 1.5s ease;

}


/* TEXT */

.role{

letter-spacing:6px;
font-size:14px;

color:#9fb8ff;

margin-bottom:10px;

}

.name{

font-size:64px;
margin:10px 0;

}

.intro-title{

color:#49c6ff;

letter-spacing:4px;

margin-bottom:40px;

}

.intro-text{

max-width:650px;

line-height:1.8;

color:#cbd6ff;

margin-top:30px;

}


/* CHART */

.chart{

margin-top:30px;
width:700px;

}

svg{

width:100%;
height:220px;

}


/* GRID */

.grid{

stroke:#2b3a5c;
stroke-width:1;

}


/* LINES */

.line{

fill:none;
stroke-width:3;

stroke-dasharray:800;
stroke-dashoffset:800;

animation:drawLine 3s ease forwards;

}

.white{

stroke:white;

}

.blue{

stroke:#49c6ff;

}


/* LINE ANIMATION */

@keyframes drawLine{

to{
stroke-dashoffset:0;
}

}


/* TEXT ANIMATION */

@keyframes fadeUp{

0%{
opacity:0;
transform:translateY(40px);
}

100%{
opacity:1;
transform:translateY(0);
}

}



/* NAVBAR */

.navbar{

position:fixed;

bottom:30px;
left:50%;

transform:translateX(-50%);

display:flex;
gap:40px;

background:#0b1f45;

padding:16px 45px;

border-radius:50px;

box-shadow:0 10px 40px rgba(0,0,0,0.6);

}


.navbar a{

color:white;
text-decoration:none;

font-size:15px;
font-weight:600;

transition:0.3s;

}


.navbar a:hover{

color:#49c6ff;

transform:translateY(-3px) scale(1.1);

}







/* CARDS */

.card{
background:#0d1c3a;
padding:30px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

/* GRID */

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

/* PROJECT */

.project{
display:grid;
grid-template-columns:400px 1fr;
gap:40px;
margin-bottom:80px;
align-items:center;
}

.project img{
width:100%;
border-radius:10px;
}

/* SKILLS BAR */

.skill-bar{
background:#0d1c3a;
border-radius:10px;
overflow:hidden;
margin-bottom:15px;
}

.skill-fill{
background:#5ed3ff;
padding:8px;
}

/* DASHBOARD */

.dashboard{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.dashboard img{
width:100%;
border-radius:10px;
transition:0.4s;
}

.dashboard img:hover{
transform:scale(1.05);
}

/* CONTACT */

.contact{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.contact-box{
background:#0d1c3a;
padding:30px;
border-radius:10px;
}

/* ANIMATION */

@keyframes fadeUp{
0%{
opacity:0;
transform:translateY(30px);
}

100%{
opacity:1;
transform:translateY(0);
}
}

body{
padding-bottom:80px;
}
